@rendermode InteractiveServer

<input placeholder="Add new todo" @bind="newTodo"/>
<button class="btn btn-danger" @onclick = "AddTodo">Add</button>

<ul>
    @foreach (var todo in todos)
    {
        <li @onclick="() => HandleClickOnTodo(todo)" class="@(counter%2 == 0 ? "todo-item-clicked" : "")">
            @todo

            <button @onclick="() => RemoveTodo(todo)"> Remove </button>
        </li>
    }
</ul>


@code {
    // private string newTodo = string.Empty;
    private string? newTodo;
    private int counter = 0;
    private List<string> todos = new List<string>();



    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(newTodo);
            newTodo = string.Empty;
        }
    }
    private void RemoveTodo(string todo)
    {
        todos.Remove(todo);
    }

    private void HandleClickOnTodo(string info)
    {

        Console.WriteLine(info + " tiklandi");

        counter ++;

    }

    private bool IsTodoClicked(string todo)
    {
        return todos.Contains(todo);
    }
}
