
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>To-Do List</PageTitle>

<h3>Todo Lists</h3>
<input @bind="newTodo.Text" placeholder="Add a new task" />
<button class="btn btn-info" @onclick="AddTodo">Add </button>

<ul>
    @foreach (var todo in todos)
    {
        <li @onclick="()=>ToggleCheck(todo)" class="todo-list btn-info ">
            <span style="@(todo.Checked ? "text-decoration: line-through;" : "")">@todo.Text </span>  <button @onclick="()=>RemoveTodo(todo)">Remove</button>

        </li>
    }
</ul>
@code {
    private TodoItem newTodo = new TodoItem();
    private List<TodoItem> todos = new List<TodoItem>();

private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo.Text))
        {
            todos.Add(newTodo);
            newTodo = new TodoItem(); 
        }
    }
    private void RemoveTodo(TodoItem todo)
    {
        todos.Remove(todo);
    }


    private void ToggleCheck(TodoItem todo)
    {
        todo.Checked = !todo.Checked;
    }

    public class TodoItem
    {
        public string Text { get; set; } = string.Empty;
        public bool Checked { get; set; } = false;
    }
}

<style>
    .todo-list {
        margin-top: 10px;
        cursor: default;
    }

</style>
